@keyframes slide-1 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(100%, 0, 0);
    opacity: 1;
  }
}
@keyframes slide-2 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(200%, 0, 0);
    opacity: 1;
  }
}
body {
  margin: 0;
  font-family: "Karla";
  background-color: #fbf1ea;
}

#appContainer {
  padding: 0;
  position: relative;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  height: max-content;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@media (min-width: 1024px) {
  #appContainer {
    border-right: 2px solid #cdc5bf;
    border-left: 2px solid #cdc5bf;
    width: 80vw;
    padding-top: 20vw;
    margin-left: 10vw;
    margin-right: 0vw;
  }
}

@media (min-width: 1024px) {
  #appContainer:not(.homeLayout) {
    margin-right: 10vw;
  }
}

#loadDivs {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 1023px) {
  #loadDivs {
    flex-direction: row;
  }
}

#desktopLogoContainer {
  display: none;
}
@media (min-width: 1023px) {
  #desktopLogoContainer {
    display: block;
    position: absolute;
    z-index: 99;
    top: -5vw;
    left: -2vw;
  }
  #desktopLogoContainer #desktopLogo {
    width: 88vw;
    height: 25vw;
  }
}

@font-face {
  font-family: Karla;
  src: url("../assets/fonts/Karla-VariableFont_wght.ttf");
}
.arrowLeft {
  transform: rotate(180deg);
}

.flexBox {
  display: flex;
}

.hideElement {
  display: none;
}

.home_container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 10vw 5vw;
}
@media (min-width: 1024px) {
  .home_container {
    padding: 10vw 5vw;
  }
}

.home_text {
  font-size: 0.8em;
  text-align: justify;
  text-justify: inter-word;
}

.about_container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 10vw 5vw;
}
@media (min-width: 1024px) {
  .about_container {
    padding: 10vw 0;
  }
}

.about_img {
  max-width: 100%;
  max-height: 100%;
}
@media (min-width: 1024px) {
  .about_img {
    width: 25vw;
    height: 30vw;
  }
}

.about_text {
  font-size: 0.8em;
  text-align: justify;
  text-justify: inter-word;
}

.paddingText {
  padding: 10vw 5vw;
}

.image_container {
  padding: 20px 0;
}
.image_container img {
  margin-left: 20px;
  width: 30vw;
  height: 40vw;
}
@media (min-width: 1024px) {
  .image_container {
    padding: 20px 0 20px 5vw;
    width: 20vw !important;
  }
  .image_container img {
    width: 20vw;
    height: 30vw;
  }
}

.carousel_home {
  width: 100vw;
  height: 100%;
  border-top: 2px solid #cdc5bf;
}
@media (min-width: 1024px) {
  .carousel_home {
    margin-right: 10vw;
    max-width: 900px;
    max-height: 900px;
    width: 35vw;
    height: 100%;
    border-right: 2px solid #cdc5bf;
    border-bottom: 2px solid #cdc5bf;
  }
  .carousel_home .slick-list {
    height: 100vh !important;
  }
}

@media (min-width: 1024px) {
  .carousel_home:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 255, 255) 90%);
    width: 100%;
    height: 35vw;
  }
}

.mobileLayout {
  display: block;
  align-self: center;
}
@media (min-width: 1024px) {
  .mobileLayout {
    display: none;
  }
}

.desktopLayout {
  display: none;
}
@media (min-width: 1024px) {
  .desktopLayout {
    display: flex;
  }
}

#checkbox_toggle {
  display: none;
}

.menuItem {
  list-style: none;
  padding-right: 2vw;
  padding-left: 2vw;
}
.menuItem a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fbf1ea;
  color: #A69E99;
  border-bottom: 2px solid #cdc5bf;
  border-top: 2px solid #cdc5bf;
  padding: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  -webkit-tap-highlight-color: transparent;
}

.nav-links {
  margin: 0;
  padding: 0;
}
.nav-links a {
  color: #cdc5bf;
  padding: 2vw 0;
  vertical-align: middle;
  display: flex;
}

/* LOGO */
.logo {
  display: none;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 1vw;
}

.active {
  border-bottom: 2px solid #4f4b47;
  margin-bottom: -2px;
}
.active a {
  font-weight: bolder;
  color: #4f4b47;
}

.menu li:hover:not(.active) {
  background-color: #4f4b47;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menuDesktop {
  display: flex;
}

.menuMobile {
  display: none;
}

/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 5vw;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 1023px) {
  .nav-links a {
    color: #4f4b47;
  }
  .logo {
    display: flex;
  }
  .logo .mobileLogo {
    width: 50vw;
    margin-bottom: 2vw;
  }
  .logo .shoppingLogo {
    width: 5vw;
  }
  .menuArrow {
    width: 2vw;
    padding-left: 3vw;
  }
  .navbar {
    justify-content: space-between;
    padding: 3vw 5vw;
    border-bottom: 2px solid #cdc5bf;
    color: #4f4b47;
  }
  .menuContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
  }
  .menu {
    display: block;
    position: absolute;
    background-color: #fbf1ea;
    text-align: center;
    font-size: 5vw;
    left: 0;
    top: 0;
    width: 95vw;
    height: 100%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .active {
    border-bottom: unset;
    margin-bottom: unset;
  }
  .active .menuArrow {
    filter: invert(83%) sepia(7%) saturate(84%) hue-rotate(145deg) brightness(95%) contrast(100%);
  }
  .active a {
    color: #c9cdce;
  }
  .menu li:hover {
    background-color: #c9cdce;
    transition: 5s ease-in;
  }
  .menu li:hover:not(.active) {
    background-color: #4f4b47;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  .menu li:hover:not(.active) a {
    color: #c9cdce;
  }
  .menu li {
    height: 5vw;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding-left: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-bottom: 2px solid #cdc5bf;
  }
  .menuDesktop {
    display: none !important;
  }
  .menuMobile {
    display: flex;
  }
  #checkbox_toggle:checked ~ .menuContainer {
    display: block;
  }
  .hamburger {
    display: block;
  }
}
#footerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  padding: 0 5vw;
  border-bottom: 2px solid #cdc5bf;
  border-top: 2px solid #cdc5bf;
  color: #A69E99;
  font-size: 0.6em;
  height: 10vw;
}
@media (min-width: 1024px) {
  #footerContainer {
    font-size: 0.8em;
    height: 5vw;
  }
}

#footer_item1 {
  display: flex;
  flex: 4;
}
@media (min-width: 1024px) {
  #footer_item1 {
    flex: 7;
  }
}

#footer_item2 {
  display: flex;
  flex: 4;
}
@media (min-width: 1024px) {
  #footer_item2 {
    flex: 2;
  }
}

#footer_item3 {
  display: flex;
  flex: 4;
}
@media (min-width: 1024px) {
  #footer_item3 {
    flex: 3;
  }
}

/*# sourceMappingURL=style.css.map */
