@keyframes slide-1 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(100%, 0, 0);
    opacity: 1;
  }
}
@keyframes slide-2 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(200%, 0, 0);
    opacity: 1;
  }
}
body {
  margin: 0;
  font-family: "Karla";
  background-color: #fbf1ea;
}

#appContainer {
  padding: 0;
  position: relative;
  display: block;
  width: 100vw;
  min-height: 100vh;
  height: max-content;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@media (min-width: 1024px) {
  #appContainer {
    border-right: 2px solid #cdc5bf;
    border-left: 2px solid #cdc5bf;
    width: 80vw;
    padding-top: 11em;
    margin-left: 10vw;
    margin-right: 0;
  }
}

.loadDivs {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 1023px) {
  .loadDivs {
    flex-direction: row;
  }
}

#desktopLogoContainer {
  display: none;
}
@media (min-width: 1023px) {
  #desktopLogoContainer {
    display: block;
    position: absolute;
    z-index: 99;
    top: -10em;
  }
  #desktopLogoContainer #desktopLogo {
    width: 45em;
    height: 12em;
  }
}

@font-face {
  font-family: Karla;
  src: url("../assets/fonts/Karla-VariableFont_wght.ttf");
}
.arrowLeft {
  transform: rotate(180deg);
}

.flexBox {
  display: flex;
}

.hideElement {
  display: none;
}

.centeringDiv {
  position: relative;
  justify-content: center;
  align-items: center;
}

#homePageContainer {
  display: flex;
  margin: auto;
  direction: row;
  max-width: 1000px;
  position: relative;
}

#desktopLogoContainer {
  position: absolute;
  top: -5em;
  justify-content: center;
  display: flex;
  right: 0;
  left: 0;
}
@media (min-width: 1023px) {
  #desktopLogoContainer #desktopLogo {
    width: 65em;
    margin-right: -3em;
    height: 40vh;
  }
}

#div1 {
  border-right: 2px solid #cdc5bf;
  border-left: 2px solid #cdc5bf;
  flex-grow: 2;
  height: calc(100vh - 12em);
  padding-top: 12em;
  position: relative;
}

#div2 {
  flex-grow: 1;
  border-right: 2px solid #cdc5bf;
  height: 100vh;
}

@media (min-width: 1024px) {
  #loadFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  #footerContainer {
    font-size: 0.8em;
    height: 3em;
  }
}
.home_container {
  display: flex;
  position: relative;
  height: 70%;
}

.home_text {
  font-size: 0.8em;
  height: 50%;
  width: 80%;
  text-align: justify;
  position: relative;
  margin: auto;
}

.about_container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 10vw 3em;
}
@media (min-width: 1024px) {
  .about_container {
    margin: auto;
    position: relative;
  }
}

.about_img {
  max-width: 100%;
  max-height: 100%;
}
@media (min-width: 1024px) {
  .about_img {
    width: 15em;
    height: 20em;
  }
}

.about_text {
  font-size: 0.8em;
  text-align: justify;
  font-weight: 500;
  max-width: 90%;
  color: #4f4b47;
}

.paddingText {
  padding: 10vw 3em;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.contact_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  max-width: 100vw;
  margin: auto;
  align-items: left;
  padding: 10vw 3em;
}
@media (min-width: 1024px) {
  .contact_container {
    padding: 10vw 0;
    max-width: 33em;
    min-height: 50vh;
  }
}

.contact_text {
  font-size: 0.8em;
  text-align: justify;
  line-height: 1.6;
  color: #4f4b47;
}

.paddingText {
  padding: 10vw 3em;
}

@media (min-width: 1024px) {
  .contact_title {
    display: none;
  }
}

div.gallery {
  border: 1px solid #fbf1ea;
}

div.gallery:hover {
  border: 1px solid #4f4b47;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 1em 0.5em;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  color: #A69E99;
}
@media only screen and (min-width: 1024px) {
  div.desc {
    padding: 0.5em 0.5em;
  }
}

div.price {
  float: right;
}

.responsive {
  padding: 0 3em;
  float: left;
  width: 80%;
  box-sizing: border-box;
  display: flex;
  margin: 3em 0;
}

@media only screen and (min-width: 1024px) {
  .responsive {
    width: 33.3%;
    margin: 0.5em 0;
  }
}
@media only screen and (max-width: 1023px) {
  .card_container {
    display: flex;
    justify-content: center;
  }
}

.image_container {
  padding: 20px 0;
}
@media (min-width: 1024px) {
  .image_container {
    padding: 10px 0 10px 0;
    width: 10vw !important;
  }
  .image_container img {
    width: 20vw;
    height: 40vh;
  }
}

.carousel_home {
  width: 100vw;
  height: 100%;
  border-top: 2px solid #cdc5bf;
  background-color: #fbf1ea;
}
@media (min-width: 1024px) {
  .carousel_home {
    max-width: 400px;
    width: 33em;
    height: 100%;
  }
  .carousel_home .slick-slider {
    position: relative;
  }
  .carousel_home .slick-list {
    max-height: 100vh;
  }
  .carousel_home .slick-track {
    max-width: 400px;
    top: unset;
    left: unset;
    margin-right: unset;
    margin-left: unset;
  }
}

.mobileLayout {
  display: block;
  align-self: center;
}
@media (min-width: 1024px) {
  .mobileLayout {
    display: none !important;
  }
}

.desktopLayout {
  display: none;
}
@media (min-width: 1024px) {
  .desktopLayout {
    display: flex;
  }
}

.image_container {
  padding: 20px 0;
}
.image_container img {
  margin-left: 20px;
}
@media (min-width: 1024px) {
  .image_container {
    padding: 20px 0 20px 3em;
    width: 20vw !important;
  }
}

.carousel_product {
  width: 100vw;
  height: 100%;
  border-top: 2px solid #cdc5bf;
  background-color: #fbf1ea;
  align-self: center;
}
@media (min-width: 1024px) {
  .carousel_product {
    margin-right: 10vw;
    max-width: 900px;
    max-height: 900px;
    width: 33em;
    height: 100%;
    border-right: 2px solid #cdc5bf;
    border-bottom: 2px solid #cdc5bf;
  }
  .carousel_product .slick-list {
    height: 100vh !important;
  }
}

#checkbox_toggle {
  display: none;
}

.menuItem {
  list-style: none;
  padding-right: 1em;
  padding-left: 1em;
}
.menuItem a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fbf1ea;
  color: #A69E99;
  border-bottom: 2px solid #cdc5bf;
  border-top: 2px solid #cdc5bf;
  padding: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  -webkit-tap-highlight-color: transparent;
}

.nav-links {
  margin: 0;
  padding: 0;
}
.nav-links a {
  color: #cdc5bf;
  padding: 2em 0;
  vertical-align: middle;
  display: flex;
}

/* LOGO */
.logo {
  display: none;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 4em;
  font-size: 0.8em;
}

.active {
  border-bottom: 2px solid #4f4b47;
  margin-bottom: -2px;
}
.active a {
  font-weight: bolder;
  color: #4f4b47;
}

.menu li:hover:not(.active) {
  font-weight: bolder;
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li:hover:not(.active) a {
  font-weight: bolder;
  color: #4f4b47;
}

.menuDesktop {
  display: flex;
}

.menuMobile {
  display: none;
}

/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 1em;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 1023px) {
  .nav-links a {
    color: #4f4b47;
  }
  .logo {
    display: flex;
  }
  .logo .mobileLogo {
    max-width: 150px;
    max-height: 33px;
  }
  .logo .shoppingLogo {
    height: 20px;
    width: 20px;
  }
  .menuArrow {
    width: 2vw;
    padding-left: 1em;
  }
  .navbar {
    justify-content: space-between;
    padding: 1em 1em;
    border-bottom: 2px solid #cdc5bf;
    color: #4f4b47;
  }
  .menuContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
  }
  .menu {
    display: block;
    position: absolute;
    background-color: #fbf1ea;
    text-align: center;
    font-size: 3em;
    left: 0;
    top: 0;
    width: 93em;
    height: 100%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .active {
    border-bottom: unset;
    margin-bottom: unset;
  }
  .active .menuArrow {
    filter: invert(83%) sepia(7%) saturate(84%) hue-rotate(145deg) brightness(95%) contrast(100%);
  }
  .active a {
    color: #c9cdce;
  }
  .menu li:hover {
    background-color: #c9cdce;
    transition: 5s ease-in;
  }
  .menu li:hover:not(.active) {
    background-color: #c9cdce;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  .menu li:hover:not(.active) a {
    color: #4f4b47;
  }
  .menu li {
    height: 3em;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding-left: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
    border-bottom: 2px solid #cdc5bf;
  }
  .menuDesktop {
    display: none !important;
  }
  .menuMobile {
    display: flex;
  }
  #checkbox_toggle:checked ~ .menuContainer {
    display: block;
  }
  .hamburger {
    display: block;
  }
}
#footerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  border-top: 2px solid #cdc5bf;
  color: #A69E99;
  font-size: 0.6em;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
}
@media (min-width: 1024px) {
  #footerContainer {
    font-size: 0.8em;
    height: 3em;
  }
}

#footer_item1 {
  display: flex;
  flex: 4;
  padding-left: 2em;
}
@media (min-width: 1024px) {
  #footer_item1 {
    flex: 6;
  }
}

#footer_item2 {
  display: flex;
  flex: 4;
}
@media (min-width: 1024px) {
  #footer_item2 {
    flex: 3;
  }
}

#footer_item3 {
  display: flex;
  flex: 4;
  padding-right: 2em;
}
@media (min-width: 1024px) {
  #footer_item3 {
    flex: 3;
  }
}

/*# sourceMappingURL=style.css.map */
