.home_container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10vw 5vw;
    @media (min-width: $screenDesktop) {
        padding: 10vw 10vw;
    }
}

.home_text {
    font-size: 0.8em;
    text-align: justify;
    text-justify: inter-word;
}
