<nav class="navbar">
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <!-- NAVIGATION MENUS -->
        <div class="menuContainer">
            <div class="menu">
                <li class="menuItem homeMenuMobile active">
                    <a href="/" data-navigo>
                        <img src='../assets/icons/arrow right.svg' class="arrowLeft menuArrow" />
                        Menu Inklappen
                    </a>
                </li>
                <li class="menuItem homeMenuDesktop active"><a href="/" data-navigo>Home</a></li>
                <li class="menuItem"><a href="/" data-navigo>Shop</a></li>
                <li class="menuItem"><a href="/about" data-navigo>Over</a></li>
                <li class="menuItem"><a href="/cd" data-navigo>Pricing</a></li>
                <li class="menuItem"><a href="/s">Contact</a></li>
                <li class="menuItem"><a href="/">Wikelmand</a></li>
            </div>
        </div>
    </ul>
    <!-- LOGO -->
    <div class="logo">
        <img src='../assets/images/Logo.svg' class="mobileLogo" />
    </div>

    <div class="logo">
        <img src='../assets/icons/shopping_bag.svg' class="shoppingLogo" />
    </div>
</nav>