<nav class="navbar">
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <!-- NAVIGATION MENUS -->
        <div class="menuContainer">
            <div class="menu">
                <li class="menuItem homeMenu menuMobile active">
                    <a href="javascript:loadPage('/')">
                        <img src='../assets/icons/arrow right.svg' class="arrowLeft menuArrow" />
                        Menu Inklappen
                    </a>
                </li>
                <li class="menuItem shopMenu menuMobile"><a href="javascript:loadPage('/shop')">Shop</a></li>
                <li class="menuItem overMenu menuMobile"><a href="javascript:loadPage('/about')">Over</a></li>

                <li class="menuItem homeMenu menuDesktop active"><a href="javascript:loadPage('/')">Home</a></li>
                <li class="menuItem overMenu menuDesktop"><a href="javascript:loadPage('/about')">Over</a></li>
                <li class="menuItem shopMenu menuDesktop"><a href="javascript:loadPage('/shop')">Shop</a></li>

                <li class="menuItem contactMenu"><a href="javascript:loadPage('/contact')">Contact</a></li>
                <li class="menuItem"><a href="/">Wikelmand</a></li>
            </div>
        </div>
    </ul>
    <!-- LOGO -->
    <div class="logo">
        <img src='../assets/images/Logo.svg' class="mobileLogo" />
    </div>

    <div class="logo">
        <img src='../assets/icons/shopping_bag.svg' class="shoppingLogo" />
    </div>
</nav>