.image_container {
    padding: 20px 0;

    // img {
    //     margin-left: 20px;
    //     width: 30vw;
    //     height: 40vw;
    // }

    @media (min-width: $screenDesktop) {
        padding: 10px 0 10px 0;
        width: 10vw !important;
        img {
            width: 20vw;
            height: 40vh;
        }
    }
}

.carousel_home {
    width: 100vw;
    height: 100%;
    border-top: 2px solid #cdc5bf;
    background-color: #fbf1ea;

    @media (min-width: $screenDesktop) {
        max-width: 400px;
        width: 33em;
        height: 100%;
        .slick-slider {
            position: relative;
        }
        .slick-list {
            max-height: 100vh;
        }

        .slick-track{
            max-width: 400px;
            top: unset;
            left: unset;
            margin-right: unset;
            margin-left: unset;
        }
    }
}

.mobileLayout {
    display: block;
    align-self: center;

    @media (min-width: $screenDesktop) {
        display: none !important;
    }
}

.desktopLayout {
    display: none;

    @media (min-width: $screenDesktop) {
        display: flex;
    }
}