#footerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
    padding: 0 5vw;
    border-bottom: 2px solid #cdc5bf;
    border-top: 2px solid #cdc5bf;
    color: #A69E99;
    font-size: 0.6em;
    height: 10vw;
    @media (min-width: $screenDesktop) {
        font-size: 0.8em;
        height: 5vw;
    }
}

#footer_item1 {
    display: flex;
    flex: 4;
    @media (min-width: $screenDesktop) {
        flex: 7;
    }
}

#footer_item2 {
    display: flex;
    flex: 4;
    @media (min-width: $screenDesktop) {
        flex: 2;
    }
}

#footer_item3 {
    display: flex;
    flex:4;
    @media (min-width: $screenDesktop) {
        flex: 3;
    }
}