#checkbox_toggle {
    display: none;
}

.menuItem {
    list-style: none;
    padding-right: 2vw;
    padding-left: 2vw;

    a {
        text-decoration: none;
    }
}

//NAVBAR
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fbf1ea;
    color: $navbar-color-desktop;
    border-bottom: 2px solid #cdc5bf;
    border-top: 2px solid #cdc5bf;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

.nav-links {
    margin: 0;
    padding: 0;

    a {
        color: #cdc5bf;
        padding: 2vw 0;
        vertical-align: middle;
        display: flex;
    }
}


/* LOGO */
.logo {
    display: none;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 1vw;
}

.active {
    border-bottom: 2px solid $navbar-color-mobile;
    margin-bottom: -2px;

    a {
        font-weight: bolder;
        color: $navbar-color-mobile;
    }
}


.menu li:hover:not(.active) {
    background-color: $navbar-color-mobile;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menuDesktop {
    display: flex;
}

.menuMobile {
    display: none;
}



/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 5vw;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: $screenMobile) {

    .nav-links a {
        color: $navbar-color-mobile;
    }

    .logo {
        display: flex;

        .mobileLogo {
            width: 50vw;
            margin-bottom: 2vw;
        }

        .shoppingLogo {
            width: 5vw;
        }
    }

    .menuArrow {
        width: 2vw;
        padding-left: 3vw;
    }

    .navbar {
        justify-content: space-between;
        padding: 3vw 5vw;
        border-bottom: 2px solid #cdc5bf;
        color: $navbar-color-mobile;
    }

    .menuContainer {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .menu {
        display: block;
        position: absolute;
        background-color: #fbf1ea;
        text-align: center;
        font-size: 5vw;
        left: 0;
        top: 0;
        width: 95vw;
        height: 100%;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }

    .active {
        border-bottom: unset;
        margin-bottom: unset;

        .menuArrow {
            filter: invert(83%) sepia(7%) saturate(84%) hue-rotate(145deg) brightness(95%) contrast(100%);
        }

        a {
            color: #c9cdce;
        }
    }

    .menu li:hover {
        background-color: #c9cdce;
        transition: 5s ease-in;
    }

    .menu li:hover:not(.active) {
        background-color: #4f4b47;
        border-radius: 5px;
        transition: 0.3s ease;

        a {
            color: #c9cdce;
        }
    }

    .menu li {
        height: 5vw;
        justify-content: flex-start;
        display: flex;
        align-items: center;
        padding-left: 5vw;
        padding-top: 5vw;
        padding-bottom: 5vw;
        border-bottom: 2px solid #cdc5bf;
    }


    .menuDesktop {
        display: none !important;
    }

    .menuMobile {
        display: flex;
    }


    #checkbox_toggle:checked~.menuContainer {
        display: block;
    }

    .hamburger {
        display: block;
    }
}